.table-of-contents
  .badge
    vertical-align middle
  ul
    li
      a
        position relative
        &:before
          content '# '
          @apply absolute top-0 left-0 -ml-3 mt-0 leading-5 text-gray-500
